.blog h2 {
    padding-left: 30vh;
    position: absolute;
    padding-right: 5vh;
    top: 150px;
    font-size: 40px;
  }
  
  
  .blog p {
    padding-left: 80vh;
    padding-right: 10vh;
    position: absolute;
    top: 250px;
    font-size: 15px;
    color: rgb(48, 47, 47) ;
  }
  
  .blog img{
    
    padding-left: 10vh;
    padding-top: 20vh;
  }
   
  @media screen and (max-width: 768px) {
    .blog img.h2.blog p{
      flex-direction: column;
      
    }
  }