* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: black;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}